body {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  background-color: #0f0f0f;
}

@media screen and (min-width: 992px) {
  .header p {
    width: 60%;
  }
  #myNav {
    display: none;
  }
  span {
    display: none;
  }
}
@media screen and (max-width: 780px) and (min-width: 320px) {
  h1 {
    font-size: clamp(1.5rem, 0.5192rem + 4.6154vw, 2.25rem);
  }
  p {
    font-size: clamp(0.75rem, 0.5568rem + 0.9091vw, 1rem);
  }
  .header {
    padding: 8%;
  }
  .header p {
    width: 100%;
  }
  .btn {
    font-size: clamp(0.75rem, -0.2308rem + 4.6154vw, 1.5rem);
  }
  #hero {
    background-image: url(/assets/Desktop/JPG/razer-nari-hero-desktop-wireless-gaming-headset.jpg);
    background-size: contain;
    background-position: center center;
    flex-direction: column;
  }
  #hero .sec {
    display: none;
  }
  #hero .col img {
    width: 25%;
    margin: 1%;
  }
  #features {
    margin: 50px 0;
  }
  #features .parent {
    margin: 0px 10px;
    flex-direction: column;
    padding: 0px 5%;
  }
  #features .col {
    margin-bottom: 8rem;
  }
  #thx {
    background-position: center center;
  }
  #thx .col-6 {
    max-width: 100%;
  }
  #thx .col-6 .content p {
    color: #f1f1f1;
    width: 100%;
    font-size: clamp(0.75rem, -0.2308rem + 4.6154vw, 1.5rem);
  }
  #other {
    justify-content: center;
    align-items: center;
  }
  #other .main-wrap {
    flex-direction: column;
    width: 100%;
  }
  #other .main-wrap .show {
    display: none;
  }
  #other .main-wrap .show-more {
    display: block;
  }
  #other .main-wrap #show {
    display: block;
  }
  #other .main-wrap .d-flex {
    flex-direction: column;
  }
  #other .main-wrap .d-flex .col {
    min-height: 27rem;
  }
  #contact .container {
    flex-direction: column;
  }
  #contact .container .header {
    width: 100%;
  }
  #contact .container .col:nth-child(1) {
    min-height: 29rem;
  }
  #contact .container .col:nth-child(2) {
    min-height: 22rem;
  }
  #contact .container .d-flex {
    flex-direction: column;
  }
  #contact .container .d-flex #name,
#contact .container .d-flex #phone {
    width: 100%;
  }
  #footer .container {
    flex-direction: column;
    width: 100%;
  }
  #footer .container .col-4 {
    width: 100%;
    height: 50vh;
  }
  #footer .container .col-4 img {
    width: 100%;
  }
  .dropdown-item {
    text-align: center;
  }
  .overlay a {
    font-size: clamp(0.75rem, -0.2308rem + 4.6154vw, 1.5rem);
  }
  .overlay .closebtn {
    font-size: clamp(0.75rem, -0.2308rem + 4.6154vw, 1.5rem);
    top: 15px;
    right: 35px;
  }
}
.header {
  width: 100%;
  text-align: center;
  padding-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header h1 {
  color: #00ff00;
  text-transform: uppercase;
  font-weight: 900;
  font-size: clamp(1rem, 0.4272rem + 1.519vw, 2.25rem);
}
.header p {
  font-size: clamp(0.75rem, 0.5568rem + 0.9091vw, 1rem);
}

.btn {
  background-color: #00ff01;
  text-transform: uppercase;
  width: 150px;
  border: 1px solid #00ff01;
  border-radius: 50px;
  font-weight: 800;
}
.btn:hover {
  background-color: transparent;
  color: #00ff01;
  border: 1px solid #00ff01;
}

.navbar {
  background-color: #0f0f0f;
  height: 80px;
  font-size: clamp(0.5625rem, 0.4953rem + 0.3165vw, 0.875rem);
}
.navbar .dropdown-toggle::after {
  border: none !important;
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f107" !important; /* the desired FontAwesome icon */
  vertical-align: 0; /* to center vertically */
}
.navbar .btn:hover {
  background-color: transparent;
  color: #00ff01;
  border: 1px solid #00ff01;
}
.navbar .navbar-toggler {
  background-color: #0f0f0f;
}
.navbar li {
  margin: 0 10px;
}
.navbar li a {
  color: #978e8e;
  text-transform: uppercase;
  font-weight: 700;
}
.navbar li .dropdown-menu {
  background-color: #000;
  border-radius: 0;
}
.navbar li .dropdown-menu:hover {
  background-color: #000;
}
.navbar li .dropdown-menu:active {
  background-color: #000;
}
.navbar li :hover {
  color: #000;
}
.navbar .dropright {
  position: relative;
  z-index: 1000;
}
.navbar .dropright .dropdown-toggle::after {
  border: none !important;
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f054" !important; /* the desired FontAwesome icon */
  vertical-align: 0; /* to center vertically */
}
.navbar .submenu {
  position: absolute;
  left: 222px;
  top: -9px;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay .overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay .overlay-content a {
  padding: 8px;
  text-decoration: none;
  font-size: clamp(0.75rem, -0.2308rem + 4.6154vw, 1.5rem);
  color: #818181;
  display: block;
  transition: 0.3s;
}
.overlay .overlay-content a:active {
  color: #000;
}
.overlay .overlay-content a:hover,
.overlay .overlay-content a:focus {
  color: #000;
  background-color: #f1f1f1;
}
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

#hero {
  background-image: url(/assets/Desktop/JPG/razer-nari-hero-desktop-wireless-gaming-headset\ CL.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  padding-bottom: 5%;
}
#hero .container {
  position: relative;
  display: flex;
}
#hero .container .col {
  padding-top: 10%;
}
#hero .container .col img {
  width: 15%;
  margin: 1%;
}
#hero .container .col svg {
  width: 35%;
  position: absolute;
  bottom: 0;
  right: 0;
}
#hero .container h1 {
  font-weight: 900;
}

#features {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
#features p {
  color: #978e8e;
}
#features .container .parent .col {
  padding: 3%;
}
#features .container .parent .col svg {
  width: 10%;
  margin-bottom: 10px;
}
#features .container .parent .col h6 {
  text-transform: uppercase;
  color: white;
  font-weight: 900;
}

#slider .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#slider .container .photos {
  width: 100%;
}
#slider .container .swiper {
  width: 100%;
  padding: 50px 0;
}
#slider .container .swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
#slider .container .swiper .slider-child {
  position: relative;
}
#slider .container .swiper .slider-child:hover img {
  opacity: 0.3;
}
#slider .container .swiper .slider-child:hover button {
  opacity: 1;
}
#slider .container .swiper .slider-child img {
  width: 100%;
  height: auto;
  transition: all 0.5s ease;
}
#slider .container .swiper .slider-child button {
  font-size: clamp(0.5rem, 0.4423rem + 0.2564vw, 0.75rem);
  position: absolute;
  left: 22%;
  top: 45%;
  opacity: 0;
  transition: all 0.5s ease;
}
#slider .container .swiper .swiper-pagination-bullet {
  color: #00ff01;
  position: relative;
}
#slider .container .swiper .swiper-pagination-bullet-active {
  color: #00ff01;
  background-color: #00ff01;
}
#slider .container .swiper .swiper-pagination-bullet-active::before {
  position: absolute;
  content: "";
  border-radius: 50%;
  border: 1px solid #00ff01;
  background-color: hsl(0deg, 0%, 6%);
  height: 12px;
  width: 12px;
  left: -2px;
  top: -2px;
  z-index: -1;
}

.modal-lg img {
  width: 100%;
  border-radius: 5px;
}
.modal-lg .modal-content {
  background-color: transparent;
  width: clamp(300px, 100%, 770px);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.modal-lg .modal-footer {
  border-top: none;
}

#thx {
  background-image: url(/assets/Desktop/JPG/razer-nari-usp02-desktop-wireless-gaming-headset.jpg);
  background-size: cover;
}
#thx .col-6 {
  padding: 5% 0;
}
#thx .col-6 .header {
  width: 100%;
  margin: 5% 0;
  text-align: left;
}
#thx .col-6 p {
  color: #978e8e;
  font-size: 20px;
  width: 79%;
}
#thx .col-6 img {
  width: 20%;
  margin: 1%;
}

#other .header {
  align-items: center;
  justify-content: center;
}
#other .container {
  transition: all 0.5s ease;
}
#other .container .main-wrap {
  display: flex;
  margin: 5% 0;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}
#other .container .main-wrap button {
  margin-top: 4em;
  display: none;
  font-size: 12px;
  width: 60%;
}
#other .container .main-wrap .col {
  margin-top: 2%;
}
#other .container .main-wrap .col .card {
  border-radius: 0;
  border: 0;
  width: 100%;
}
#other .container .main-wrap .col .card .images {
  position: relative;
  background-color: #000;
}
#other .container .main-wrap .col .card .images .gadgets {
  height: auto;
}
#other .container .main-wrap .col .card .images .logo {
  position: absolute;
  right: 8%;
  bottom: 7%;
}
#other .container .main-wrap .col .card .content {
  background-color: #161515;
  padding: 5%;
  border-bottom: 3px solid #00ff01;
}
#other .container .main-wrap .col .card .content h6 {
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}
#other .container .main-wrap .col .card .content p {
  color: #978e8e;
}
#other .container .main-wrap .col .card .content a {
  color: #00ff01;
  font-weight: 700;
}

#contact {
  background-color: #080808;
  white-space: nowrap;
  padding: 5% 10%;
}
#contact #error_message {
  color: red;
}
#contact .container {
  display: flex;
}
#contact .container .col .header {
  margin-bottom: 4%;
  align-items: flex-start;
}
#contact .container .col form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#contact .container .col form input,
#contact .container .col form textarea {
  padding: 2%;
  font-size: 14px;
  font-weight: 700;
  border: 1px solid #978e8e;
}
#contact .container .col form * {
  background-color: transparent;
  border-radius: 5px;
  width: 100%;
}
#contact .container .col form .d-flex {
  -moz-column-gap: 10px;
       column-gap: 10px;
}
#contact .container .col form .d-flex input {
  padding: 4%;
  font-size: 14px;
  font-weight: 700;
  border: 1px solid #978e8e;
}
#contact .container .col form #message {
  height: 100px;
}
#contact .container .col form .btn {
  color: #000;
  background-color: #00ff00;
  border-radius: 50px;
  width: 30%;
  height: 40px;
  margin-top: 5%;
}
#contact .container .col form .btn input {
  border: none;
  text-transform: uppercase;
  height: 20px;
  padding: 0;
}
#contact .container .col .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#contact .container .col .wrapper .info div {
  margin-bottom: 10%;
}
#contact .container .col .wrapper .info div h6 {
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}
#contact .container .col .wrapper .info div p {
  color: #978e8e;
}

#footer {
  background-color: #0f0f0f;
}
#footer p {
  text-transform: uppercase;
  text-align: center;
  color: #4a4646;
  font-size: 10px;
  margin-bottom: 0;
  padding: 1%;
}
#footer .container:nth-child(1) {
  border-bottom: 1px solid #818181;
  display: flex;
  padding: 2%;
}
#footer .container:nth-child(1) .col-4 {
  margin: 10px 0;
}
#footer .container:nth-child(1) .col-4:nth-child(1) {
  width: 100%;
}
#footer .container:nth-child(1) .col-4:nth-child(1) img {
  width: 130px;
}
#footer .container:nth-child(1) a {
  text-transform: uppercase;
  margin: 2%;
  color: #978e8e;
  font-weight: 700;
  font-size: 10px;
}
#footer .container:nth-child(1) .col-4:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
#footer .container:nth-child(1) .col-4:nth-child(3) img {
  width: clamp(10px, 100%, 20px);
}/*# sourceMappingURL=style.css.map */